.cta{
  background-image: url(assets/acme-building-1.jpeg);
  height: 100%;
  padding: 50px 50px;
  margin-bottom: 20px;
  min-height: 200px; 
  background-position: bottom;
  background-size: cover;
  background-attachment: fixed;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  display: block;
}

.cta h2{
  padding-bottom: 20px;
  font-size: 2rem;
}

.button{
border: 2px solid #12A6E6;
border-radius: 25px;
color: white;
background: #12A6E6;
padding: 6px 40px;
font-size: 0.8rem;
transition: 0.8s;
margin-bottom: 20px;
cursor: pointer;
}
