div{
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: #fff;
}

container-mobile{
  display: none;
}

@media (max-width: 500px) {
  container-mobile{
    display: block;
  }
  
}
