input{
  border: none;
  border-bottom: 2px solid #12A6E6;
  background-color: #02336E;
  color: #12A6E6;
  padding: 20px;
  width: 400px;
  height: 30px;
  text-align: center;
}

::placeholder{
  color: #12A6E6;
  opacity: 0.6;
  font-size: 16px;
}

div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

p{
  color: #9c9898;
  font-size: 10px;
}

.contattaci-messaggio{
  margin-bottom: 1em;
}

@media (max-width: 500px) {
  input{
    width: 50%;
  }
}