:host {
  display: block;
}

.dropdown-content{
  display: none;
  position: absolute;
  min-width: 160px;
  z-index: 1;
  text-align: center;
}

.dropbtn {
  padding: 16px;
  font-size: 14px;
  border: none;
  width: 100%;
  cursor: pointer;
  border-bottom: 1px solid #9c9898;
  border-top: none;
  background-color: #fff;
}

.dropdown {
  position: relative;
  display: inline-block;
  width: 40%;
  margin-bottom: 20px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 50px;
}

.content{
  font-size: 10px;
  text-align: center;
}

