.box-blu{
  height: 700px;
  width: 70%;
  background-color: #02336E;
  border-radius: 20px;
  border: 2px solid #ffffff;
  margin: 0 auto;
}

.spazio{
  height: 50px;
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
}



