.colore-sfondo{
  background-color: #12A6E6;
}

.div-contatti{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  color: white;
}

.spazio{
  padding: 0 30px;
}

.mail{
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.mail:hover{
  text-decoration: underline;
}

.loghi{
  height: 20px;
  width: 20px;
  cursor: pointer;
  padding: 7px;
}